@model LoginViewModel
@{
    ViewData["Title"] = "Profil";
}
<div>



<div class="row mt-4">
<div class="col-4">
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;display:flex;justify-content:center">
    <div class="col-4 d-flex">

        <div class="mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        </div>

        <form method="post" asp-action="ProfileChangeName">Ad: &nbsp;
            <label class="form-label small">
                <input name="fullname" style="width:300px" type="text" class="form-control" placeholder=""></label>
            <button class="btn btn-secondary">
            <i class="fa-regular fa-floppy-disk me-2"></i> &nbsp; Kaydet
        </button>
        </form>
    </div>
</div>
</div>
</div>

