<div class="container mt-5">
  <h2>Odalarımız</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://img001.prntscr.com/file/img001/Ph33pvBbRbC_wNttMUWmlA.jpeg" class="card-img-top" alt="Oda 1">
        <div class="card-body">
          <h5 class="card-title">Oda 1</h5>
          <p class="card-text">Odalardan bir açıklama.</p>
          <a href="#" class="btn btn-primary">Detaylar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://img001.prntscr.com/file/img001/8SUtTMVZRIKJKovskXKutg.jpeg" class="card-img-top" alt="Oda 1">
        <div class="card-body">
          <h5 class="card-title">Oda 1</h5>
          <p class="card-text">Odalardan bir açıklama.</p>
          <a href="#" class="btn btn-primary">Detaylar</a>
        </div>
      </div>
    </div>
    <!-- Diğer odalar burada yer alabilir -->
  </div>
</div>